* {
	margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {padding: 0;margin: 0;background-image: url(../img/whiteWallpaper.jpg); background-size:140%; 
background-repeat: no-repeat; background-position: center top; background-color: #ffffff; 
font-size: 14px;font-family: "Trebuchet MS", "Times New Roman", Times, serif;color: #333333;line-height: 22px;}

body.privacy {background-image: none;}
body.privacy div {background-color: rgb(255, 255, 255);width: 700px;padding:20px;margin: 40px auto;}
body.privacy div h2, body.privacy div h4 {text-align: center;color:#666;}
body.privacy div h2 {font-size: 24px;}
body.privacy div h4 {font-size: 18px;font-weight: normal;}
body.privacy div a:hover {background: none;color: #FFC700;text-decoration: underline;}

.right {text-align: right;}
.written {font-family: 'Kaushan Script', cursive;font-size:20px;line-height:28px;color:#979996;text-shadow: 1px 1px 0  #000000;}

/* Link */ 	
a img {margin: 0;padding: 0;border: 0;text-decoration:none;}

a {color: #1400cc;font-weight: bold;text-decoration: none;
-webkit-transition: 0.4s ease-in-out;
-moz-transition: 0.4s ease-in-out;
-o-transition: 0.4s ease-in-out;
-ms-transition: 0.4s ease-in-out;
transition: 0.4s ease-in-out;
}

a:link, a:visited {padding:1px 4px;color: #0070cc;border-radius: 5px;-moz-border-radius: 5px;-webkit-border-radius: 5px;}
a:hover, a:active {color:#fff;background: #FFC700;}
a:focus {outline-style: none;}

a.call {display:block;text-decoration: none;width:180px;padding: 10px 15px;font-size:1.4em;color:#ffffff !important;text-align: center;background-color:#FFC700;border-radius: 6px;-moz-border-radius: 6px;-webkit-border-radius: 6px;cursor: pointer;border:none;line-height: 24px;}
a.call:hover {color:#ffffff !important;background-color: #0070cc;}


/* Page */
div#container {width:728px;margin:0 auto;padding:0;}
div#top {width: 728px;height: 284px;margin:0;padding:0;}
.png {position: absolute;margin:30px 0 0 15px;z-index: -100;}

/* colors */
div#colors{margin: 0 0 0 114px;position: absolute;}
span.color a:hover {background:none;}
span.color {float:left; margin:0 1px 0 0;}
span.color a {width:22px; height:25px;display:block;padding:0;}
span.blu {background: url(../images/blue.gif) no-repeat top left transparent;}
span.verde {background: url(../images/green.gif) no-repeat top left transparent;}
span.arancio {background: url(../images/orange.gif) no-repeat top left transparent;}
span.beige {background: url(../images/beige.gif) no-repeat top left transparent;}

/* menu */
div#nav ul {margin:5px 0 5px 0;padding:0;text-align: center;}
div#nav li {font-size:30px;line-height: normal;margin:0 14px;font-family: 'Kaushan Script';font-weight: bold;list-style-type: none;display:inline !important;}
div#nav li a {padding: 8px;text-shadow: 0 2px 0  #ffffff;font-weight: normal;}
div#nav li a:hover, a:active {color: #FFC700;background: none;}

div#nav li a {
 	-webkit-transition: margin 0.4s linear;
    transition: margin 0.4s linear;
    -moz-transition: margin 0.4s linear;
}

div#nav li a:hover, a:active {
	margin: -3px 0 0 0;
    -webkit-transition: margin 0.1s linear;
    transition: margin 0.1s linear;
    -moz-transition: margin 0.1s linear;
}

/* freccia top */
span.freccia {width:708px;background: url(../images/linea.gif) no-repeat center transparent;text-align:right;display:block;margin:15px 0 5px 0;}
span.freccia a {border:none;}
span.freccia a:hover {background:none;}

/* news */
div#news {width:708px;background: url(../images/news.gif) no-repeat top left transparent;margin:110px 0 0 0;padding:10px;}

/* about me */
div#aboutme {width:708px;background: url(../images/aboutme.gif) no-repeat top left transparent;margin:10px 0 20px 0;padding:10px;}
div#aboutme span.Me {float:left;margin:40px 0 0 0;}
div#aboutme p {margin:50px 0 0 0;}
div#aboutme p a.linkedin {width:170px;height:42px;border: none;background: url(../images/linkedin.png) no-repeat 0 0 transparent;padding:12px 0 12px 70px;}
div#aboutme p a.linkedin:hover {background: url(../images/linkedin.png) no-repeat 0 -42px transparent;color: #0082b4;}

/* portfolio*/
div#portfolio {width:708px;background: url(../images/portfolio.gif) no-repeat top left transparent;margin:10px 0 20px 0;padding:100px 10px 10px 10px;}
div#portfolio div.images {margin:-40px 0 40px 130px;}
div#portfolio h2 {font-weight:bold;font-size:16px;display: inline;}
div#portfolio h2 span.num {font-size: 11px;font-style: italic;}
div#portfolio a {margin:0 3px;padding: 0;}
div#portfolio a img {border:1px solid #ccc;padding:3px;background-color: #fff;box-shadow: 0px 2px 4px #aeaeae;}
div#portfolio a:hover {background:none;}
div#portfolio a:hover img {background:#FFC700;}

/* links */
div#links {width:708px;background: url(../images/links.gif) no-repeat top left transparent;margin:10px 0 20px 0;padding:10px;}
div#links p  {display:block;margin:65px 0 0 0;}
div#links span.support  {display:block;}
div#links span.support a:hover {background:none;}

div#finalContact {text-align: center;margin: 30px 0 60px 0;color:#484848;background: url(../images/arrows.gif) no-repeat center 45px transparent;}
div#finalContact p {font-family: "handwritten";font-size: 2em;}
div#finalContact a.call {margin:20px auto;}
div#finalContact a.phone:link, div#finalContact a.phone:visited {font-size:1.4em;cursor: default;}
div#finalContact a.phone:hover, div#finalContact a.phone:visited {color:#484848;background: none;}

/* footer */
div.footer {margin: 0;width: 100%;height:220px;background: url(../images/bkg_footer.jpg) repeat-x #232020;color: #ccc;padding: 30px 0 20px 0;text-align:left;}

div.footer a, div.footer a:link, div.footer a:visited  {color:#979996;}
div.footer a:hover, div.footer a:active {background:none;text-decoration: underline;color:#fff;}

div.footer div.footer_Sx {width:700px;float:left;margin: 0 0 0 70px;}
div.footer div.footer_Sx h3 {font-size:32px;margin:0;padding:0;font-weight: normal;}
div.footer div.footer_Sx h3 span {font-size:22px;}
div.footer div.footer_Sx img {float:left;}
div.footer div.footer_Sx span.shiny {display:block;margin:10px 0 0 0;}
span.shiny a:link {padding:0;background: none;}

div.footer div.footer_Dx {float:right;background: url(../images/pallini.gif) no-repeat left bottom;width:220px;height:180px;padding:0 10px 0 30px;}
div.footer div.footer_Dx div.addthis_toolbox a {clear: both;margin:4px 0;}
div.footer div.footer_Dx div.addthis_toolbox a:hover {background: none;}
a#at15sptx, a#at16ptx, a#at-logo, a.at15t, a.at-settings, div#at_hover a, a.at-whatsthis, a.ac-about, a.at_baa {background-color:transparent;}
a#at16ptx:hover, a#at15sptx:hover, a#at-logo:hover, a.at15t:hover, a.at-settings:hover {background-color:transparent;}

/* Twitter */
div#iPhone {background: url(../images/iPhone.png) no-repeat left top transparent;width:172px;height:300px;padding:107px 0 0 16px;margin:0 0 0 645px !important;margin:0 0 0 435px;position:absolute;display: none;}
*:first-child+html #iPhone {margin:0 0 0 435px !important;} /* solo IE 7.0 */
iframe#twitter-widget-0.twitter-timeline[style] {width:70px !important;}

div#iPhone iframe[id^="twitter-widget-0"] {min-width:158px !important;}

/* Tumblr */
.tumblr-post-date {display:none;}
div#tumblr-badge {margin:0 auto;padding:0;width:440px;}
div#tumblr-badge h3 {margin:0;text-align:right;font-family: "handwritten";font-weight: normal;font-size:30px;color:#666666;text-shadow: 0 2px 0  #ffffff;line-height: normal;}
div#tumblr-badge ul {list-style-type:none;margin:0;padding:0;}
div#tumblr-badge ul li p {padding:0;height:240px;padding:0;}
div#tumblr-badge a {padding:0 4px;}

div#tumblr-badge img {float:left;margin-right: 20px;}
div#tumblr-badge a.call {margin:20px 40px 20px 0;float:right;padding: 10px 15px;}

/* Vertical Slider */
div.bx-wrapper {margin:20px auto;}
div.bx-wrapper a.bx-next, div.bx-wrapper a.bx-prev, div.bx-wrapper a.bx-next:link, div.bx-wrapper a.bx-prev:link {border:none;outline: 0;}
div.bx-wrapper a.bx-next:hover, div.bx-wrapper a.bx-prev:hover, div.bx-wrapper a.bx-next:link, div.bx-wrapper a.bx-prev:link {background-color:transparent;}
div.bx-wrapper a.bx-next:active, div.bx-wrapper a.bx-next:visited, div.bx-wrapper a.bx-prev:active, div.bx-wrapper a.bx-prev:visited {border:none;}

div.bx-wrapper .bx-next {position:absolute;top:40%;right:-60px;z-index:999;width: 35px;height: 46px;text-indent: -999999px;background: url(../images/gray_next.png) no-repeat 0 -46px;}
div.bx-wrapper .bx-prev {position:absolute;top:40%;left:-60px;z-index:999;width: 35px;height: 46px;text-indent: -999999px;background: url(../images/gray_prev.png) no-repeat 0 -46px;}
div.bx-wrapper .bx-next:hover, div.bx-wrapper .bx-prev:hover {background-position: 0 0;}
div.bx-wrapper .bx-pager .pager-active, div.bx-wrapper .bx-pager a:hover {background-position: 0 0;}

/* ShadowBox Style */
#sb-title-inner,#sb-info-inner,#sb-loading-inner,div.sb-message{font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;font-weight:200;color:#fff;}
#sb-container{position:fixed;margin:0;padding:0;top:0;left:0;z-index:999;text-align:left;visibility:hidden;background: url(../images/bg_Kpattern.gif) repeat left top #333;}
#sb-overlay{position:relative;height:100%;width:100%;}
#sb-wrapper{position:absolute;visibility:hidden;width:100px;}
#sb-wrapper-inner{position:relative;border:1px solid #303030;overflow:hidden;height:100px;}
#sb-body{position:relative;height:100%;}
#sb-body-inner{position:absolute;height:100%;width:100%;}
#sb-player.html{height:100%;overflow:auto;}
#sb-body img{border:none;}
#sb-loading{position:relative;height:100%;}
#sb-loading-inner{position:absolute;font-size:14px;line-height:24px;height:24px;top:50%;margin-top:-12px;width:100%;text-align:center;}
#sb-loading-inner span{background:url(../images/shadow/loading.gif) no-repeat center;display: block;width:auto;height:55px;}
#sb-body,#sb-loading{background-color:#181818;}
#sb-title,#sb-info{position:relative;margin:0;padding:0;overflow:hidden;}
#sb-title,#sb-title-inner{height:26px;line-height:26px;}
#sb-title-inner{font-size:14px;}
#sb-info,#sb-info-inner{height:40px;}
#sb-info-inner{font-size:12px;}
#sb-nav{float:right;height:22px;padding:10px 0 0 0;}
#sb-nav a{display:block;float:right;height:22px;width:66px;margin-left:10px;cursor:pointer;background-repeat:no-repeat;border:none;}
#sb-nav a:hover {border-bottom: 1px dashed #999;}
#sb-nav-close{background:url(../images/shadow/close.gif) no-repeat center top;}
#sb-nav-next{background:url(../images/shadow/next.gif) no-repeat center top;}
#sb-nav-previous{background:url(../images/shadow/previous.gif) no-repeat center top;}
#sb-nav-play{background-image:url(../images/shadow/play.png);}
#sb-nav-pause{background-image:url(../images/shadow/pause.png);}
#sb-counter{float:left;width:45%;}
#sb-counter a{padding:0 4px 0 0;text-decoration:none;cursor:pointer;color:#fff;}
#sb-counter a.sb-counter-current{text-decoration:underline;}
div.sb-message{font-size:12px;padding:10px;text-align:center;}
div.sb-message a:link,div.sb-message a:visited{color:#fff;text-decoration:underline;}



/*=========================================
	Media Queries
=========================================*/

@media screen and (max-width: 768px) {

body {background-image:none !important;-webkit-text-size-adjust:none;}

body.privacy div {width:88%;padding: 3%;margin: 2% auto;}

.gif {position: relative;margin: 0 auto;}

img {max-width: 100%;height: auto;}

object, div#iPhone, div#colors {display: none;}

div#container {width:98%;margin:0 1%;}

div#top, div#news, div#aboutme, div#portfolio, div#links, span.freccia {width:auto;height:auto;}
span.freccia {display:block;text-align:right;}

div#colors {margin: 0 auto;position: relative;width:92px;height:40px;}

div#news, div#aboutme, div#portfolio, div#links {background-position: center 2%;border-top:1px dashed #D4D2BB;} 
div#news {border:none;}
div#finalContact {border-top:1px dashed #D4D2BB;}

div#nav ul {padding:0;float:none;text-align: center;}
div#nav ul li {float:none;display: inline;padding:7px 0;}
div#nav ul li a {display: inline;font-size: 1.1em;}

div#tumblr-badge {width: 70%;height:auto;margin: 0 auto;}
div#tumblr-badge img {width:40%;height:auto;float:none;display: block;margin: 0 auto;}
div#tumblr-badge h3 {text-align: center;margin-top: 60px;font-size: 2.1em;}
div#tumblr-badge a.call {margin: 0 auto;float:none;width:150px;}
div#tumblr-badge ul li p {height: auto;}

div#news {margin-top:20px;}

span.freccia {background: none;}

div.footer {height:auto;padding: 30px 0 60px 0;}
div.footer div.footer_Dx, div.footer div.footer_Sx {width:auto;float: none;margin: 0;padding:0 0 0 2%;background: none;}
div.footer div.footer_Sx img.kLogo {display: none;}

div.footer div.footer_Dx {height: 110px;}
div.footer div.footer_Dx div.addthis_toolbox a {clear: none;}

}


/* Stage 1 */
/* 480 pixel - iPhone Landscape Mode */
@media screen and (max-width: 480px) {

body {font-size: 1.1em;line-height: 140%;}


div#top {height: 180px !important;}


div#nav ul li {float:none;text-align: center;margin: 0 auto;display: block !important;border-top:1px solid #ffffff;border-bottom:1px solid #D4D2BB;}
div#nav ul li.first {border-top:none;}

div#nav li a:hover, a:active {margin: 0;-webkit-transition: none;transition: none;-moz-transition: none;}

div#portfolio h2 {font-size: 1.2em;}
div#portfolio h2 span.num {}

div#aboutme span.Me {margin: 50px auto 0 auto;text-align:center;display:block;float:none;}
div#aboutme span.Me img {width: 150px;height: auto;}
div#aboutme p {margin:0;}

div#portfolio div.images {margin:0;}
div#portfolio h2 {display:block;margin-top:26px;}

#sb-counter {display: none;}
#sb-nav {padding-top:4px;}

div.footer div.footer_Sx h3 {font-size: 2.8em;}
div.footer div.footer_Sx {text-align: center;}

}

