* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  position: relative;
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: url(../img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.logo a{
  height: 15vh;
  width: 10vw;
  display: flex;
  align-items: top;
  margin-bottom: 25px;
  margin: auto;
  justify-content: center;
}

.container {
  width: 50%;
  display: flex;

  background-color: #242b25;
  color: #fff;
  padding: 30px;
  border-radius: 7px;
  backdrop-filter: blur(2px);
  border: 1px solid rgba(255,255,255,0.1);
  background: rgba(0, 0, 0, 0.5);
  
}

.main {
  width: 100%;
  
}

.main .header {
  text-align: center;
}

.main .header h2 {
  margin-bottom: 25px;
  margin-top: 5px;
  color: rgb(50, 140, 0);
}

.main .header p {
  margin-bottom: 15px;
  color: rgb(255, 255, 255);
  font-size: 0.95rem;
}

.main button {
  padding: 0 0px;
  height: 40px;
  width: 100%;
  border-radius: 3px;
  border: none;
  background-color: #FF9900;
  color: #000;
  transition: color .8s;
	
  align-items: center;
  text-align: center;
  
  font-size: 1.1rem;
  margin-top: 15px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  display: relative;
  
}

.main button:hover {
  background-color: #fff;
}

.main button:active {
  border: #000000;
  transform: scale(0.99);
  filter: brightness(50%);
   
}

a {
	color: #fff;
	text-decoration: none;
}

a:hover {
	color: #FF9900;
  text-decoration: #393131;
}

footer {
	text-align: center;
	padding: 2rem 0 0rem;
	color: #fff;
	opacity: 1;
  display: flex;
  align-items: center;
}
